body {
  background-image: url(https://cdn.discordapp.com/attachments/1040875525431898114/1162691681708155000/default_bg.png?ex=653cdc02&is=652a6702&hm=98ccbb49996ad3c670f8373b8acad30d456e474050bf144117ed1866bb34ca7e&);
  align-content: center;
  align-items: center;
  font-family: OpenSans-SemiBold.ttf;
}

{
font-color: white;
}