* {
  font-family: MaisonNeue-Medium, "Maison Neue";
  color: #f2f2f2;
  text-align: center;
  background-size: 1800% 1800%;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  margin-top: 90px;
  text-shadow: 1px 1px 1px black;
}

@keyframes bgcolor {
  0% {
      background-color: #392F5A
  }

  30% {
      background-color: #3b5176
  }

  60% {
      background-color: #228059
  }

  90% {
      background-color: #b78220
  }

  100% {
      background-color: #A41623
  }
}

#aboutme {
  display: inline-block;
}

p {
  display: inline-block;
}

a {
  display: inline-block;
}