@import url('https://raw.githubusercontent.com/calamitywoah/calamitywoah.github.io/main/Basiic.ttf');

html {

  height: 100%;

}

body {

  background-image: linear-gradient(black, rgb(21, 21, 66));

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  height: 100%;

  color: #fff;
  
  font-size: 24px;

  font-family: Basiic;

  overflow: hidden;

}

.discord {

  padding-top: 30px;

  color: lightblue;

}



.hotlinks {

  align-items: center;

  justify-content: center;

}
